<section class="team-members">
    <div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/managing_partner.jpg') }}" alt="Managing Partner" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>The Managing Director</h3>
                <p class="tagline" style="color: blue;">Your Tagline Here</p>
                <p><strong>Experience:</strong> 5+ years</p>
                <p><strong>Area of Expertise:</strong> [List Expertise]</p>
                <p>[20 Lines of Description]</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/founder.jpg') }}" alt="Founder" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>The Founder</h3>
                <p class="tagline" style="color: blue;">Your Tagline Here</p>
                <p><strong>Experience:</strong> [Founder Experience]</p>
                <p><strong>Area of Expertise:</strong> [Founder Expertise]</p>
                <p>[20 Lines of Founder Description]</p>
            </div>
        </div>
    </div>
</div>
</section>