<section class="meet-our-people">
    <div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-block">
                    <div class="vertical-line"></div>
                    <h2>Our Approach</h2> 
                </div>
            </div>
            <div class="col-md-12">
                <div class="description-block">
                    <p>The attorneys at Saurabh Patria and Associates with professional values and aspirations maintain an uncompromising approach to deliver quality and excellent service as the endeavor is to satisfy the client with efficient and personalized legal advice. We are strategic and future-oriented, always thinking and planning ahead, get to the core of complex legal issues and challenges, and provide pragmatic, commercial solutions to the client.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="description-block">
                    <p>The relentless and unrelenting focus of our tightly woven network of legal thoughts on delivering the highest standard of legal advice and service excellence which gives us the recognition as our success is built on clients’ success.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<style>
.heading-block {
    display: flex;
    align-items: flex-start; /* Align to the top */
    margin-bottom: 20px; /* Add some space below the heading */
}

.vertical-line {
    width: 5px;
    background-color: yellow;
    margin-right: 15px;
    align-self: stretch; /* Make the line stretch vertically */
}

.heading-block h2 {
    margin: 0; /* Remove default heading margin */
    line-height: 1; /* Ensure the heading takes the correct height */
}

.description-block {
    margin-bottom: 20px; /* Add some space between descriptions */
}
</style>


<!-- 
<section class="meet-our-people">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>The attorneys at Saurabh Patria and Associates with professional values and aspirations maintain an uncompromising approach to deliver quality and excellent service as the endeavor is to satisfy the client with efficient and personalized legal advice. We are strategic and future-oriented, always thinking and planning ahead, get to the core of complex legal issues and challenges, and provide pragmatic, commercial solutions to the client.</p>
            </div>
            <div class="col-md-6">
                <p>The relentless and unrelenting focus of our tightly woven network of legal thoughts on delivering the highest standard of legal advice and service excellence which gives us the recognition as our success is built on clients’ success.</p>
            </div>
        </div>
    </div>
</section>
-->