<div class="social media links">
    <ul class="list-inline">
        <li><a href="https://www.facebook.com/yourfirmspage" target="_blank"> <i
                    class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/yourfirmsaccount" target="_blank"> <i
                    class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/yourfirmsinsta" target="_blank"> <i
                    class="fa fa-instagram"></i> </a></li>
    </ul>
</div>
<div class="socail links">
    <ul class="list-inline">
        <li>
            <a href="https://www.facebook.com/yourfirmspage" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/yourfirmsaccount" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/yourfirmsinsta" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>